.bg-clidesa-celeste{
    background-color: #00aeef;
    background: #00aeef;
}
.img-upload{
    background: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10%;
}
.form-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.vinput:invalid {
    border: 1px solid #f62d528c;
    box-shadow: 0 0 5px #f62d528c;
}

.vinput:valid {
    border: 1px solid #36bea6;
    box-shadow: 0 0 5px #36bea6 ;
}

.mensaje-leido{
    background: #00ff4036;
}

.mensaje-no-leido{
    background: #ff000d1c;
}

/* For login style */

.bg-login{
    background: rgb(4,102,236);
    background: linear-gradient(90deg, rgba(4,102,236,1) 0%, rgba(9,121,99,1) 35%, rgba(0,212,255,1) 100%);
}

.vlogin:invalid {
    border: 1px solid #f62d5246;
    box-shadow: 0 0 5px #f62d5246;
}

.vlogin:valid {
    border: 1px solid #36bea593;
    box-shadow: 0 0 5px #36bea593;
}